.logo {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.t {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.note {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.sub {
    display: flex;
    justify-content: center;
    color: darkgray;
    gap: 400px;
    margin-bottom: 50px;
}

.green {

background-color: aquamarine;
padding: 10px;
margin-top: 30px;
border: 10px;
border-radius: 20px;
}

.purple {
padding: 10px;
border: 10px;
border-radius: 20px;
background-color: purple;
margin-top: 30px;
}

.destop {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.layer {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}

.p {
    display: flex;
    justify-content: center;
    color: darkgray;
    margin-bottom: 100px;
    margin-top: 0px;
}


.flex-container {
    display: flex;
    height: 140px;
    padding: 16px;
    border: 8px whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.flex-layer1 {
    display: flex;
    flex-direction: column;
    background-size: 20px;
    width: 200px;
    align-items: center;
}

.one {
    justify-content: center;
    color: darkgray;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 50px;
}

.ten {
    display: flex;
    height: 140px;
    padding: 16px;
    background-color: lightgrey;
    border: 8px rgb(151, 140, 140);
    align-items: center;
    justify-content: center;
    gap: 80px
}

